body{
    font-family: 'Open Sans', sans-serif;
}

@viewport{
    width: device-width;
}

@media screen and (max-width: 768px) {
    #header-right{
        display: none!important;
    }

    #mobile-bottom-header{
        display:block!important;
    }
}

@media screen and (max-width: 568px) {
    #header-right{
        display: none!important;
    }

    #mobile-bottom-header{
        display:block!important;
    }
}


.landing-backgroud {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background: url('landing_background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* font-family: 'Ubuntu', sans-serif; */
  }