html, body{
    height:110%;
    background-color: transparent;
    min-width:100%;
}

body{
    height: 100%;
}

.nav-item{
    font-size: 1.75em;
    /* margin-left: 1em;
    margin-right: 1em */
}

#privacy{
    height:1.5em;
    width:1.5em;

}

/* body{
    background: url('bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


html {
    background: url('bg3.jpg') no-repeat center fixed;
    background-size: cover;
    /*height: 120%;*/
  }

/* .jumbotron{
    height: 110%;
    background: url('bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:0px;
    border-radius:0px;
} */


.container.ppcontainer{
    height:20em;
    overflow-y: scroll;
    overflow-x:hidden
}

.form-control{
    background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
}

.form-control:focus {
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
}

hr{
    background: white;
}

h4, h5{
    font-family: 'Dosis', sans-serif;
    color:white;

}

.error404{
    color: white;
    margin-top:3em;
}

.header.container-fluid{
    color: white;
    text-align: center;
}

.header h1{

    font-family: 'Pacifico', cursive;
    font-size: 5em;

}

.btn-primary{
    background-color: rgba(75, 73, 135, 0.3);
    border: none;
}

.header h3{
    font-family: 'Dosis', sans-serif;
}

.form-container h3{
    font-family: 'Dosis', sans-serif;
    text-align:center;
}

.form-container{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color:white;
    border-radius: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

@viewport{
    width: device-width;
}
.agree{
  cursor: pointer;
}
.down {
  margin-top: 5px;
}
