html, body{
  height:100%;
  width: 100%;
}

.navbar-brand{
  font-size: 3.5em;
}

#whosRecord{
  text-align: left;
  margin-top: 1em;
}

#favicon{
  border-radius: 1em;
}

#vaccineTable{
  text-align: center;
  margin-top: 2em;
  border: 5px;
  width:100%;
  margin-bottom: 2em;
}

#vaccineTitle{
  background-color: #f9f9f9;
}

.cellNotRequired{
  background-color: grey;
  color:grey;
}

#ageRow{
  background-color: black;
  color:white;
}

.navbar-nav{
  font-size:1.5em;
  text-align: center;
}

.nav-item{
  width:8em;
}

.typewriter h1{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation:
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

img{
    width:3em;
    height: 3em;
}

#address{
  margin-left: 1em;
  border-radius:1em;
}

.display-1, .display-5{
  text-align: center;
}

.display-1{
  width: 8em;
}

.btn

.modal-title{
  text-align: center;
}

.strike{
  text-decoration: line-through;
  background-color: white !important;
  color: black !important;
}

.list-group-item{
  background-color: black;
  color:white;
}

#launchButton{
  width:50%;
  height: 4em;
}

.transparentBox{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-dialog, .modal-content{
  background-color: rgba(0, 0, 0, 0.2);;
  color:white;
}

.alert{
  text-align: center;
}

#blurEnabler{
  height: 100%;
  background-color: black;
}

nav{
  position: absolute;
  background-color: black;
}


.jumbotron{
  background-color: black;
  color: white;
  height:60%;
  border-radius: 0px!important;

}

@-ms-viewport{
  width: device-width;
}
