.navbar-brand{
    font-size:2em;
}

body{
    font-family: 'Open Sans', sans-serif;
}

@viewport{
    width: device-width;
}

.container-fluid{
    margin-top: 5em; 
}

@media screen and (max-width: 768px) {
    #header-right{
        display: none!important;
    }

    #mobile-bottom-header{
        display:block!important;
    }
}

@media screen and (max-width: 568px) {
    #header-right{
        display: none!important;
    }

    #mobile-bottom-header{
        display:block!important;
    }
}


#mobile-bottom-header {
    display:none;
    color: #999999;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

#mobile-bottom-header a{
    color: #999999;
}

#header-right {
    margin-right: 70px;
    color: #999999;
    font-size: 12px;
}
  
#header-right a {
    color: #999999;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}